.minh-100vh {
  min-height: 100vh;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-align-center {
  text-align: center;
}
.site-form-item-icon {
  color: var(--primary-color) !important;
}
